.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #0D6EFD;
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 6px 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.show .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 6px 12px;
  color: #333;
  text-decoration: none;
  background-color: #fff;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}
