<div class="row">
  <h1>{{recipe.recipeName}}</h1>
</div>
<div class="row">
  <div class="dropdown" appDropdown>
    <button class="dropdown-toggle" type="button">
      Manage Recipe
    </button>
    <ul class="dropdown-menu">
      <li><a [routerLink]="" (click)="onAddedShoppingList()">to shopping list</a></li>
      <li><a [routerLink]="['edit']">edit recipe</a></li>
      <li><a [routerLink]="">delete recipe</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <p class="recipe-description">
    {{recipe.recipeDesc}}
  </p>
</div>
<div class="row">
  <ul id="recipe-ingrediantes-list" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ingredient of recipe.ingredient">
      {{ingredient.name}}
      <span class="badge bg-primary rounded-pill">{{ingredient.amount+ingredient.unit}}</span>
    </li>
  </ul>
</div>
