<div class="card mb-3" style="max-width: 540px;" (click)="onRecipeClicked(recipe)" [routerLinkActive]="'active'">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{recipe.recipeImgPath}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recipe.recipeName}}</h5>
        <p class="card-text">{{recipe.recipeDesc}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
